<!DOCTYPE html>
<html>
  <head>
    <title>BookersApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id = "notice"><%= flash[:notice] %></p>
    <p id = "notice"><%= flash[:success] %></p>
    <p id = "alert"><%= flash[:error] %></p>
    <%= yield %>
  </body>
</html>
